@model IEnumerable<CleanArchitecture.DomainCore.Models.Teachers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Teachers1" asp-action="Index">
    <p>
        Фамилия: <input type="text" name="text" />
        <input type="submit" value="Поиск" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя 
            </th>
            <th>
               Фамилия
            </th>
            <th>
                Дисциплина 
            </th>
            <th>
               Уровень
            </th>
            <th>
               Фото
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects_Taught)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @if (item.Teacher_Image != null)
                {
                    <img style='width:80px; height:60px;' src="@Url.Content(item.Teacher_Image)" )" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
