@model CleanArchitecture.DomainCore.Models.StudentClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Неделя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Time)
        </dd>
        <dt class="col-sm-2">
            Время
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Period)
        </dd>
        <dt class="col-sm-2">
            Дисциплина
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Subjects.Name)
        </dd>
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.Surname)
        </dd>
        <dt class="col-sm-2">
            Кабинет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Classroom.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
