@model IEnumerable<CleanArchitecture.DomainCore.Models.StudentClass>

@{
    ViewData["Title"] = "Расписание";
}

<h4>Расписание студентов</h4>

<p>
    <a asp-action="Create">Создать </a>
</p>
<form asp-controller="StudentClasses1" asp-action="Index">
    <p>
        Имя: <input type="text" name="text" />
        Фамилия: <input type="text" name="text1" />
        <input type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Неделя
            </th>
            <th>
                Время
            </th>

            <th>
                Дисциплина
            </th>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Специальность
            </th>
            <th>
                Курс
            </th>
            <th>
                Кабинет
            </th>
            <th>
                Преподаватель
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Time, "Неделя")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Period, "Время")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Class.Subjects.Name, "Дисциплина")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Name, "Имя ")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Surname, "Фамилия ")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Name_of_Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Number_of_Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Classroom.Name, "Кабинет")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Teachers.Surname, "Преподаватель")
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать </a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
            
        }
    </tbody>
</table>
