@model CleanArchitecture.DomainCore.Models.Students

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name_of_Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name_of_Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number_of_Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number_of_Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_Birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_of_Birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
